<div class="row">
    <div class="col-11">
        <h1>Choose the Courses You Have Already Completed</h1>
    </div>
    <div class="col-1">
        <div class="button button--rounded button--medium button--accent"
            ng-click="finish()">
            <i class="fa fa-check"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card--fixed card--selectable card--light" ng-repeat="course in courses" ng-click="selectCourse(course)">
            <div class="card__header"
                ng-class="{ 'card__header--selected': isSelected(course) }">
                {{ course.name }}
            </div>
            <div class="card__body">{{ course.description }}</div>
        </div>
    </div>
</div>
<div ui-view></div>
