h1 {
    color: white !important;
}

html, body {
    background: #333 !important;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background: #fff;
   /* background-color: #fff;*/
}
#search {
    margin: auto;
    /*text-align: center;*/
}

#results {
    margin-top: 2.5%;
}

.entry {
    background: white;
    cursor: pointer;
    font-size: 1.75vw;
    width: 50%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;

}
.entry:hover {
    background: #18ae67;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;

}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    margin-top: 5%;
    background: white;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 500px;
}

#classList {
    /*font-weight: bold;*/
    color: white;
    text-decoration: underline;
    /*font-style: italic;*/
    text-align: center;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.resize{
    width:75%; /* you can use % */
    height: auto;
}
