<h1>Criteria</h1>
<h2>Select a Major</h2>
<div ng-repeat="major in majors">
    <div ng-click="selectMajor(major)">
        <span>{{major.major.name}}</span>
        <span ng-if="major.selected">(Selected)</span>
    </div>
</div>
<h2 ng-if="selectedMajor">Select your Tracks</h2>
<div ng-repeat="track in selectedMajor.tracks">
    <div ng-if="!track.selected" ng-click="selectTrack(track)">
        <span>{{track.track.name}}</span>
    </div>
    <div ng-if="track.selected" ng-click="deselectTrack(track)">
        <span>{{track.track.name}}</span>
        <span>(Selected)</span>
    </div>
</div>
<h2>Select a Minor</h2>
<div ng-repeat="minor in minors">
    <div ng-click="selectMinor(minor)">
        <span>{{minor.minor.name}}</span>
        <span ng-if="minor.selected">(Selected)</span>
    </div>
</div>
<button ui-sref="app.selection">Save Criteria</button>
