<div class="row">
    <div class="col-12">
        <h1>Available Sections</h1>
    </div>
</div>
<div ng-repeat="course in courses">
    <div class="row">
        <div class="col-12">
            <h3>{{course.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card--fixed card--selectable card--light" ng-repeat="section in course.sections">
                <div class="card__header">
                    CRN {{ section.crn }}
                </div>
                <div class="card__body">
                    Professor: {{ section.professor }} <br /> <!-- need to make a table component, br for now -->
                    Times: {{ section.times }}
                </div>
            </div>
        </div>
    </div>
</div>
