<div class="paper-box">
    <div class="row">
        <div class="col-12">
            <h1>Select Classes For The Upcoming Semester</h1>
        </div>
    <div class="row">
        <div class="col-8">
            <h2>Available Courses</h2>
            <div class="row" ng-repeat="availableSection in availableSections">
                <div class="card col-{{12 / availableColumns}}" ng-repeat="course in availableSection" ng-click="selectCourse(course)">
                    <header>{{course.subject}} {{course.courseNum}}</header>
                    <p>{{course.name}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h2>Selected Sections</h2>
            <div class="row" ng-repeat="section in selectedSections">
                <div class="card col-12" ng-click="selectSection(section)">
                    <header>CRN {{section.crn}}</header>
                    <p>
                        <span>Professor: {{section.professor.name}}</span><br />
                        <span>Average GPA: {{section.professor.avgGpa}}</span><br />
                        <span ng-repeat="classTime in section.classTimes">
                            {{classTime.begin | weekday}}, {{classTime.begin | time}} - {{classTime.end | time}}
                            </br>
                        </span>
                    </p>
                </div>
            </div>
            <h2>Average GPA: {{getAverageGpa() | number:3}}</h2>
            <h2>Credit Hours: {{getTotalCreditHours()}}</h2>
        </div>
    </div>
    <div ng-if="!!selectedCourse" class="row">
        <div class="col-12">
            <h2>Sections</h2>
            <div class="row" ng-repeat="sectionSection in sectionSections">
                <div class="card col-{{12 / sectionColumns}}" ng-repeat="section in sectionSection" ng-click="selectSection(section)">
                    <header>
                        CRN {{section.crn}}
                        <div class="selection-indicator" ng-class="{accent: !!selectedSections[section.id]}"></div>
                        <div class="selection-indicator" ng-class="{danger: conflicts[section.id].courseSelected}"></div>
                        <div class="selection-indicator" ng-class="{dark: conflicts[section.id].timeConflict}"></div>
                    </header>
                    <p>
                        <span>Professor: {{section.professor.name}}</span><br />
                        <span>Average GPA: {{section.professor.avgGpa}}</span><br />
                        <span ng-repeat="classTime in section.classTimes">
                            {{classTime.begin | weekday}}, {{classTime.begin | time}} - {{classTime.end | time}}
                            </br>
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
