<div class="paper-box">
    <div class="row">
        <div class="col-12 circle-button-sibling">
            <h1>Select Classes For The Upcoming Semester</h1>
        </div>
    </div>
    <div class="paper-body">
        <div class="row">
            <div class="col-8">
                <h2>Available Courses</h2>
            </div>
            <div class="col-4">
                <h2>Selected Sections</h2>
            </div>
        </div>
        <div class="paper-body-top">
            <div class="paper-body-left">
                            <div class="scroll-container">
                    <div class="scrollable">
                        <div class="row" ng-repeat="availableSection in availableSections">
                            <div class="col-{{12 / availableColumns}}" ng-repeat="course in availableSection"> 
                                <div class="card" ng-click="selectCourse(course)">
                                    <header>{{course.subject}} {{course.courseNum}}</header>
                                    <div>{{course.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paper-body-right">
                <div class="row" ng-if="!sectionsSelected()">
                    <div class="col-12">
                        <h3>No sections selected</h3>
                    </div>
                </div>
                <div class="scroll-container">
                    <div ng-if="sectionsSelected()" class="scrollable">
                        <div class="row" ng-repeat="section in selectedSections">
                            <div class="col-12">
                                <div class="card" ng-click="selectSection(section)">
                                    <header>CRN {{section.crn}}</header>
                                    <div>
                                        <p>{{section.professor.name}} - {{section.professor.avgGpa}}</p>
                                        </br>
                                        <ul class="list">
                                            <li ng-repeat="classTime in section.classTimes">
                                                {{classTime.begin | weekday}}, {{classTime.begin | time}} - {{classTime.end | time}}
                                                </br>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>Average GPA: {{getAverageGpa()}}</h3>
                                <h3>Number of Hours: {{getTotalCreditHours()}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paper-body-bottom">
            <div ng-if="!!selectedCourse" class="paper-body-bottom-full">
                <div class="scroll-container">
                    <div class="scrollable">
                        <div class="row" ng-repeat="sectionSection in sectionSections">
                            <div class="col-{{12 / sectionColumns}}" ng-repeat="section in sectionSection">
                                <div class="card" ng-click="selectSection(section)">
                                    <header>
                                        CRN {{section.crn}}
                                        <div class="selection-indicator" ng-class="{accent: !!selectedSections[section.id]}"></div>
                                        <div class="selection-indicator" ng-class="{danger: conflicts[section.id].courseSelected}"></div>
                                        <div class="selection-indicator" ng-class="{dark: conflicts[section.id].timeConflict}"></div>
                                    </header>
                                    <div>
                                        <p>{{section.professor.name}} - {{section.professor.avgGpa}}</p>
                                        </br>
                                        <ul class="list">
                                            <li ng-repeat="classTime in section.classTimes">
                                                {{classTime.begin | weekday}}, {{classTime.begin | time}} - {{classTime.end | time}}
                                                </br>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
