@mixin card-color($header-bg-color, $header-fg-color, $body-bg-color, $body-fg-color) {
}

.card {
    width: 300px;
    float: left;
    padding-right: $gutter;
    padding-bottom: $gutter;

    .card__header, .card__body {
        padding: $gutter;
        border-style: solid;
        border-width: $thin-border-width;
        font-size: $small-font-size;
    }

    .card__header {
        @include header-text;
        border-bottom: 0;
    }

    &:not(.card--selectable) {
        .card_header {
            cursor: default;
        }
    }
}

.card--light {
    .card__header, .card__body {
        border-color: $medium-dark-mono;
    }

    .card__header {
        background: $medium-light-mono;
        color: $medium-dark-mono;
    }

    .card__body {
        background: $light-mono;
        color: $dark-mono;
    }
}

.card--selectable {
    cursor: pointer;

    .card__header {
        &.card__header--selected {
            background: $accent;
            color: $light-mono;
        }
    }

    &:hover {
        .card__header {
            &:not(.card__header--selected) {
                color: darken($medium-dark-mono, 15%);
            }
        }
    }

    &:active {
        .card__header {
            &:not(.card__header--selected) {
                background: darken($medium-light-mono, 5%);
            }
        }
    }
}
