.card {
    padding-right: $gutter;
    padding-bottom: $gutter;

    .card__header, .card__body, .card__footer {
        padding: $gutter;
        border-style: solid;
        border-width: $thin-border-width;
    }

    .card__body {
        font-size: $small-font-size;
    }

    .card__header {
        border-bottom: 0;
        font-size: $medium-small-font-size;
    }

    .card__footer {
        border-top: 0;
        font-size: $medium-small-font-size;
    }

    &:not(.card--selectable) {
        .card_header {
            cursor: default;
        }
    }
}

.card--full {
    width: 100%;
}

.card--fixed {
    width: 300px;
    float: left;
}

.card--light {
    .card__header, .card__body, .card__footer{
        border-color: $dark-mono;
    }

    .card__header {
        background: $medium-light-mono;
        color: $medium-dark-mono;
    }

    .card__body {
        background: $light-mono;
        color: $medium-dark-mono;
    }

    .card__footer {
        background: $medium-light-mono;
        color: $medium-dark-mono;
    }
}

.card--selectable {
    cursor: pointer;

    .card__header {
        &.card__header--selected {
            background: $accent;
            color: $light-mono;
        }
    }

    &:hover {
        .card__header {
            &:not(.card__header--selected) {
                color: darken($medium-dark-mono, 25%);
            }
        }
    }

    &:active {
        .card__header {
            &:not(.card__header--selected) {
                background: darken($medium-light-mono, 5%);
            }
        }
    }
}

.card--rounded {
    .card__header, .card__body, .card__footer {
        &:first-child {
            @include border-top-left-radius(10px);
            @include border-top-right-radius(10px);
        }

        &:last-child {
            @include border-bottom-left-radius(10px);
            @include border-bottom-right-radius(10px);
        }
    }
}
