html {
    font-family: Helvetica;
    color: $dark-mono;
}

h1 {
    font-size: $large-font-size;
}

h2 {
    font-size: $medium-large-font-size;
}

h3 {
    font-size: $medium-font-size;
}

input {
    position: relative;
    width: 100%;
    height: $medium-header-height;
    padding-left: $gutter;
    padding-right: $gutter;
    border: $thin-border-width solid $medium-mono;
    box-sizing: border-box;
}

label {
    @include header-text;
    font-size: $small-font-size;
}

a {
    cursor: pointer;
    color: $info;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
