@mixin skin-header {
    background-color: $dark-mono;
    background-image: url("/assets/img/az-subtle.png");
    color: $medium-light-mono;
}

@mixin skin-background {
    background: $medium-dark-mono;
}

@mixin skin-content {
    background: $light-mono;
    background-image: url("/assets/img/handmade-paper.png");
}
