<div class="notifications">
    <div class="notifications__notification"
        ng-repeat="notification in notifications.notifications"
        ng-class="{ 'notifications__notification--accent': notification.type == 'success',
                    'notifications__notification--danger': notification.type == 'error' }">
        {{notification.message}}
    </div>
</div>
<div style="margin-top: 100px;">
    <div style="margin-left: auto; margin-right: auto; width: 500px;">
        <img src="/assets/img/graduationguide-1.png" alt="Graduation Guide" style="width: 100%;"/>
    </div>
</div>
<div style="margin-top: 30px;">
    <div style="margin-left: auto; margin-right: auto; width: 500px;">
        <div class="card card--full card--light card--rounded">
            <div class="card__header">Create Your Account</div>
            <div class="card__body">
                <div class="text-field text-field--medium text-field--light">
                    <div class="text-field__label">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input class="text-field__input" ng-model="register.email" placeholder="Email Address" />
                </div>
                <div class="text-field text-field--medium text-field--light">
                    <div class="text-field__label">
                        <i class="fa fa-user"></i>
                    </div>
                    <input class="text-field__input" ng-model="register.firstName" placeholder="First Name" />
                </div>
                <div class="text-field text-field--medium text-field--light">
                    <div class="text-field__label">
                        <i class="fa fa-users"></i>
                    </div>
                    <input class="text-field__input" ng-model="register.lastName" placeholder="Last Name" />
                </div>
                <div class="text-field text-field--medium text-field--light">
                    <div class="text-field__label">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input class="text-field__input" type="password" ng-model="register.password" placeholder="Password" />
                </div>
                <div class="button button--large button--accent button--rounded"
                    ng-click="signUp()">
                    Sign Up
                </div>
            </div>
            <div class="card__footer">
                Back to <a ui-sref="login">Login</a>
            </div>
        </div>
    </div>
</div>
