.wizard-nav {
    width: 100%;
    padding-top: ($header-height * 0.75) - ($base-font-size / 2) - $gutter;
}

.wizard-tab {
    font-size: $base-font-size;
    background: $medium-mono;
    padding: $gutter;
    box-sizing: border-box;
    @include thick-border($dark-mono);
    @include clickable($medium-mono, $dark-mono);
}

.circle-button {
    font-size: $base-font-size;
    text-align: center;
    padding-top: ($header-height * 0.75) - $base-font-size;
    background: $medium-mono;
    color: $dark-mono;
    width: $header-height * 1.5;
    height: $header-height * 1.5;
    @include thick-border($dark-mono);
    @include border-radius(50%);
    @include clickable($medium-mono, $dark-mono);
}

.list {
    border-top: $thin-border-width $dark-mono solid;

    li {
        box-sizing: border-box;
        border-bottom: $thin-border-width $dark-mono solid;
        color: $dark-mono;
        line-height: 2 * $gutter + $base-font-size;
        background: $light-mono;
        padding-left: $gutter;
        @include clickable($light-mono, $dark-mono);

        .active {
            font-weight: bold;
        }
    }
}
