/* abstract containers */
.row {
    @include clearfix;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: ($full-width / 12) * $i;
        float: left;
        padding: $gutter;
        box-sizing: border-box;
    }
}

/* custom containers */
.header-bar {
    background: $medium-dark-mono;
    background-image: url(/assets/img/az-subtle.png);
    color: $light-mono;
    height: $header-height;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.main-view {
    background: $medium-mono;
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
}

.paper-box {
    background: $light-mono;
    overflow: hidden;
    position: absolute;
    top: $gutter;
    left: $gutter;
    right: $gutter;
    bottom: $gutter;
    @include box-shadow($medium-dark-mono 5px 5px 5px);
}

.paper-body {
    overflow: hidden;
    position: absolute;
    top: $gutter + ($header-height * 1.5);
    bottom: $gutter;
    left: $gutter;
    right: $gutter;

    .paper-body-left, .paper-body-right {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        top: $gutter * 2 + $medium-font-size;
    }

    .paper-body-left {
        left: 0;
        right: $paper-body-right-width;
    }

    .paper-body-right {
        left: $paper-body-left-width;
        right: 0;
    }
}
