/* abstract containers */
.row {
    @include clearfix;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: ($full-width / 12) * $i;
        float: left;
        padding: $gutter;
        box-sizing: border-box;
    }
}

/* custom containers */
.header-bar {
    background: $dark-mono;
    color: $light-mono;
    height: $header-height;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.main-view {
    background: $medium-mono;
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
}

.paper-box {
    background: $light-mono;
    position: absolute;
    top: $gutter;
    left: $gutter;
    right: $gutter;
    bottom: $gutter;
    @include box-shadow($dark-mono 5px 5px 5px);
}
