@mixin thin-border($border-color) {
    border: $thin-border-width $border-color solid;
    box-sizing: border-box;
}

@mixin thick-border($border-color) {
    border: $thick-border-width $border-color solid;
    box-sizing: border-box;
}

@mixin clickable($bg-color, $fg-color) {
    &:hover {
        background: lighten($bg-color, 20%);
        color: darken($fg-color, 20%);
        border-color: darken($fg-color, 20%);
    }

    &:active {
        background: darken($bg-color, 20%);
        color: darken($fg-color, 20%);
        border-color: darken($fg-color, 20%);
    }
}

@mixin clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
