@mixin thin-border($border-color) {
    border: $thin-border-width $border-color solid;
    box-sizing: border-box;
}

@mixin thin-border-lr($border-color) {
    & > * {
        border-right: $thin-border-width $border-color solid;
        border-top: $thin-border-width $border-color solid;
        border-bottom: $thin-border-width $border-color solid;
        border-left: none;
        box-sizing: border-box;

        &:first-child {
            border-left: $thin-border-width $border-color solid;
        }
    }
}

@mixin thin-border-tb($border-color) {
    & > :not(.list) {
        border-bottom: $thin-border-width $border-color solid;
        border-left: $thin-border-width $border-color solid;
        border-right: $thin-border-width $border-color solid;
        border-top: none;
        box-sizing: border-box;

        &:first-child {
            border-top: $thin-border-width $border-color solid;
        }
    }
}

@mixin thick-border($border-color) {
    border: $thick-border-width $border-color solid;
    box-sizing: border-box;
}

@mixin thick-border-lr($border-color) {
    & > * {
        border-right: $thick-border-width $border-color solid;
        border-top: $thick-border-width $border-color solid;
        border-bottom: $thick-border-width $border-color solid;
        border-left: none;
        box-sizing: border-box;

        &:first-child {
            border-left: $thick-border-width $border-color solid;
        }
    }
}

@mixin thick-border-tb($border-color) {
    & > :not(.list) {
        border-bottom: $thick-border-width $border-color solid;
        border-left: $thick-border-width $border-color solid;
        border-right: $thick-border-width $border-color solid;
        border-top: none;
        box-sizing: border-box;

        &:first-child {
            border-top: $thick-border-width $border-color solid;
        }
    }
}

@mixin clickable($bg-color, $fg-color) {
    &:hover {
        &:not(:disabled) {
            color: darken($fg-color, 5%);
            border-color: darken($fg-color, 5%);
        }
    }

    &:active {
        background: darken($bg-color, 5%);
        color: darken($fg-color, 10%);
        border-color: darken($fg-color, 5%);

        &:not(:last-of-type) {
            &:after {
                border-left-color: darken($bg-color, 5%);
            }
        }
    }

    &:disabled {
        color: lighten($fg-color, 40%);
    }
}

@mixin clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
