/* colors */
$light-mono: #FFFFFF;
$medium-light-mono: darken($light-mono, 15%);
$medium-mono: darken($light-mono, 30%);
$medium-dark-mono: darken($light-mono, 70%);
$dark-mono: darken($light-mono, 85%);
$accent: #00CC00;
$danger: #B30000;
$warning: #E5E600;

/* spacing */
$gutter: 18px;
$full-width: 100%;
$full-height: 100%;
$thin-border-width: 1px;
$thick-border-width: 2px;
$header-height: 55px;

/* fonts */
$small-font-size: 14px;
$medium-small-font-size: 18px;
$medium-font-size: 22px;
$medium-large-font-size: 28px;
$large-font-size: 35px;

/* containers */
$paper-body-bottom-height: 40%;
$paper-body-left-width: $full-width / 3 * 2;
$paper-body-right-width: $full-width - $paper-body-left-width;
