/* colors */
$light-mono: #D3D3D3;
$medium-mono: darken($light-mono, 20%);
$dark-mono: darken($light-mono, 60%);
$dark-accent: #000059;
$light-accent: #CFB53B;

/* spacing */
$component-margin: 15px;
$thin-border-width: 2px;
$thick-border-width: 4px;

/* base */
$base-font-size: 15px;
$h1-font-size: 40px;
$h2-font-size: 30px;
$h3-font-size: 25px;
$button-font-size: 20px;

/* containers */
$header-bar-height: $component-margin * 2 + $h3-font-size;
$side-bar-width: 100px;

/* components */
$side-bar-nav-size: $side-bar-width - $component-margin * 2;
