/* colors */
$light-mono: #FFFFFF;
$medium-mono: darken($light-mono, 40%);
$dark-mono: darken($light-mono, 80%);
$accent: #CFB53B;
$danger: #771F1F;

/* spacing */
$gutter: 15px;
$full-width: 100%;
$thin-border-width: 1px;
$thick-border-width: 2px;
$header-height: 55px;

/* fonts */
$small-font-size: 15px;
$medium-font-size: 25px;
$large-font-size: 35px;
