<div class="row">
    <div class="col-12">
        <h1>Select a Minor</h1>
    </div>
</div>
<div class="row" ng-repeat="minorSection in minorSections">
    <div class="col-{{12 / minorColumns}}" ng-repeat="minor in minorSection">
        <div class="card" ng-click="selectMinor(minor)">
            <header>
                {{minor.name}}
                <div class="selection-indicator" ng-class="{selected: minor.id == selectedMinor.id}"></div>
            </header>
            <p>{{minor.description}}</p>
        </div>
    </div>
</div>
