<div class="row">
    <div class="col-12">
        <div class="breadcrumbs breadcrumbs--size-medium breadcrumbs--color-light">
            <div class="breadcrumbs__breadcrumb"
                ng-repeat="step in wizardConfig.steps"
                ng-disabled="!stepIsAvailable(step)"
                ng-click="goToStep(step)"
                ng-class="{'breadcrumbs__breadcrumb--active': step == currentStep }">
                {{step.name}}
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
