<div class="row">
    <div class="col-12">
        <h1>Select Your Tracks</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div ng-repeat="major in majors">
            <div class="row">
                <div class="col-12">
                    <h3>{{major.name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card--light card--selectable" ng-repeat="track in major.tracks" ng-click="selectTrack(track)">
                        <div class="card__header"
                            ng-class="{'card__header--selected': isSelected(track)}">
                            {{track.name}} 
                        </div>
                        <div class="card__body">{{track.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
