<div class="row">
    <div class="column-full">
        <div class="component">
            <h1>Completed</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-quarter">
        <div class="component">
            <h2>Courses</h2>
        </div>
    </div>
    <div class="column-half">
        <div class="component">
            <input />
        </div>
    </div>
</div>
<div class="row">
    <div class="column-full">
        <div class="component">
            <ul class="list">
                <li ng-repeat="course in courses" ng-click="toggleCourse(course)">
                    <div>
                        <span ng-class="{active: course.selected}">{{course.course.name}} - {{course.course.subject}} {{course.course.courseNum}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-full">
        <div class="component">
            <button ui-sref="app.selection">Save Criteria</button>
        </div>
    </div>
</div>
