<div class="paper-box">
    <div class="row">
        <div class="col-11 circle-button-sibling">
            <h1>Choose the Courses You Have Already Completed</h1>
        </div>
        <div class="col-1">
            <div class="circle-button" ui-sref="app.selection"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list">
                <li ng-repeat="course in courses" ng-click="selectCourse(course)">
                    <span>{{ course.course.name }}</span>
                    <div class="selection-indicator" ng-class="{selected: course.selected}"></div>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view></div>
</div>
